<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoECrafter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PoECrafter.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CraftItemX" serializeAs="String">
                <value>332</value>
            </setting>
            <setting name="CraftItemY" serializeAs="String">
                <value>584</value>
            </setting>
            <setting name="FusingX" serializeAs="String">
                <value>141</value>
            </setting>
            <setting name="FusingY" serializeAs="String">
                <value>557</value>
            </setting>
            <setting name="ChromaticX" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="ChromaticY" serializeAs="String">
                <value>558</value>
            </setting>
            <setting name="JewellerX" serializeAs="String">
                <value>73</value>
            </setting>
            <setting name="JewellerY" serializeAs="String">
                <value>556</value>
            </setting>
            <setting name="AddedDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlterationX" serializeAs="String">
                <value>142</value>
            </setting>
            <setting name="AlterationY" serializeAs="String">
                <value>386</value>
            </setting>
            <setting name="AugmentationX" serializeAs="String">
                <value>211</value>
            </setting>
            <setting name="AugmentationY" serializeAs="String">
                <value>383</value>
            </setting>
            <setting name="RegalX" serializeAs="String">
                <value>212</value>
            </setting>
            <setting name="RegalY" serializeAs="String">
                <value>453</value>
            </setting>
            <setting name="TransmutationX" serializeAs="String">
                <value>74</value>
            </setting>
            <setting name="TransmutaitonY" serializeAs="String">
                <value>384</value>
            </setting>
            <setting name="ScourX" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="ScourY" serializeAs="String">
                <value>557</value>
            </setting>
        </PoECrafter.Properties.Settings>
    </userSettings>
</configuration>